.header {
  width: 100%;
  background-color: $blue;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  .header-wrapper {
    min-width: 1306px;
    max-width: 1306px;
    display: flex;
    align-items: center;
    .logo-wrapper {
      font-weight: 800;
      font-size: 24px;
      color: #fff;
      letter-spacing: 1px;
    }
    .search-wrapper {
      margin-left: 129px;
      .search {
        width: 408px;
      }
    }
    .menu-wrapper {
      margin-left: 452px;
      display: flex;
      align-items: center;
      gap: 22px;
    }
  }
}
