.not-found-text {
  width: 810px;
  font-size: 70px;
  padding: 30px;
  font-weight: bold;
  color: $gray;
  text-align: center;

  span {
    display: block;
    color: $blue;
  }

  @media (max-width: 768px) {
    width: 100%;
    font-size: 36px;
    padding: 15px;
  }
}

.list-wrapper {
  width: 810px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 26px 30px;
  padding: 0 16px 16px 16px;

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
    gap: 16px;
    width: 100%;
  }

  .list-item {
  }
}
