.search {
  display: flex;
  align-items: center;
  position: relative;
  height: 40px;

  .search-icon {
    position: absolute;
    height: 16.5px;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
  }

  input {
    display: block;
    height: 100%;
    width: 100%;
    font-size: 18px;
    line-height: 21.98px;
    color: #626b8b;
    font-weight: 500;
    padding-left: 44px;
    padding-right: 8px;
    border: none;
    outline: none;
    background-color: transparent;

    &::placeholder {
      font-size: 18px;
      line-height: 21.98px;
      font-weight: 500;
    }

    &:focus {
      border: none;
      outline: none;
    }
  }

  &.primary {
    background-color: #ffffff;
  }
  &.secondary {
    background-color: #fafafb;
  }
}
