.main-page {
  display: flex;
  min-width: 1306px;
  max-width: 1306px;
  margin: 33px auto 0 auto;

  .right-wrapper {
    margin-left: 35px;
    .basket-summary {
      margin-top: 33px;
    }
  }
  .middle-wrapper {
    margin-left: 28px;
  }
  .left-wrapper {
  }
}
